.row{
    position: relative;
}
.time{
    position: absolute;
    top: 24px;
    left: 45px;
    font-size: 12px;
}
.location{
    position: absolute;
    top: 24px;
    left: 100px;
    font-size: 12px;
}
.name{
    position: absolute;
    top: 4px;
    left: 45px;
}

.signup{
    position: absolute;
    bottom: 8px;
    right: 0px;
    font-size: 15px;
    margin-right: 0px;

}
.homeicons{
    text-align: right;
}
.three-dots{
    font-size: 20px;
    position: absolute;
    text-align: right;
    top: 0px;
    right: 20px;
    
}
.three-dots:hover{
    cursor: pointer;
}



